@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --mumn: "Mulish";
}
:root {
  --momts: "Montserrat";
}
root {
  --pops: "Poppins";
}




.hero__content {
  position: relative;
}

.hero__img {
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  left: 880px;
  top: 139px;
}

.hero {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.hero__item {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.hero__left {
  margin-right: 700px;
  margin-top: 160px;
}

.hero__tittle {
  font-family: var(--momts);
  width: 585px;
  height: 136px;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  color: #0b0b2c;
}
span {
  color: #3434ff;
}
.hero__text {
  font-family: var(--mumn);
  width: 375px;
  height: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #69697b;
}
.btn {
  width: 196px;
  height: 50px;
  background: #3434ff;
  border-radius: 4px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.hero__radius_1 {
  position: absolute;
  width: 306px;
  height: 306px;
  left: 1320px;
  top: 122px;
}
.hero__radius_2 {
  position: absolute;
  width: 138px;
  height: 138px;
  left: 820px;
  top: 550px;
}

/* ======================================== */

.work__content {
  margin-top: 60px;
}
.block {
  width: 1125px;
  height: 332px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.block__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.block__item__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.block__tittle {
  font-family: var(--momts);
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #0b0b2c;
}
.block__box__text {
  margin-top: 30px;
  font-family: var(--mumn);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #0b0b2c;
}

/* ======================================================= */
.academy__block {
  margin-top: 90px;
  display: flex;
  gap: 300px;
  margin-left: auto;
  margin-right: auto;
}
.academy__tittle {
  font-family: var(--momts);
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #0b0b2c;
}
.acadrmy__text {
  width: 555px;
  height: 183px;
  font-family: var(--mumn);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #69697b;
}

/* ========================================================= */

.cours__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(373px, max-content);
  grid-auto-columns: minmax(263px, max-content);
  grid-gap: 60px;
  padding-top: 30px;
}
.cours__tittle {
  padding: 20px;
  font-family: var(--momts);
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #0b0b2c;
  text-align: center;
}
.cours__item {
  overflow: hidden;
  grid-column: span 1;
  grid-row: span 1;
  width: 263px;
  height: 373px;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.cours__item:hover {
  transform: scale(1.2);
  transition: 0.3s linear;
}
.cours__item:active {
  transform: scale(1.1);
  transition: 0.3s linear;
}
hr {
  border: 1px solid gray;
  min-width: 160px;
  height: 2px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.cours2__tittle {
  margin-left: 20px;
  margin-top: 20px;
  font-family: var(--mumn);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #0b0b2c;
}
.block__text {
  margin-left: 30px;
  margin-right: 30px;
  font-family: var(--mumn);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #69697b;
}
.block__btn {
  margin-top: 100px;
  margin-left: 480px;
  margin-bottom: 50px;
}


.tolqin__content {
  height: 824.63px;
}

.tolqin__content__h1 {
  text-align: center;
  font-size: 40px;
  line-height: 150%;
  margin-bottom: 19px;
  margin-top: 132px;
}

.tolqin__content__h3 {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  color: #69697B;
}

.time {
  display: flex;
  margin-left: 270px;
  gap: 30px;
}

.full {
  margin-top: 71px;
}

.kampyuter {
  margin-left: 50px;
}

.full__div {
  width: 359px;
  height: 125px;
}

.full__h2 {
  text-align: center;
  height: 33px;
  font-size: 26px;
  line-height: 33px;
  color: #0B0B2C;
  margin-top: 54px;
}

.full__text {
  width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #69697B;
  margin-left: 70px;
}

/*  */

.tolqin__frontend {
  width: 100%;
  height: 540px;
  background: #024592;
}

.professionel {
  display: flex;
}

.nami__h1 {
  width: 455px;
  font-size: 40px;
  line-height: 150%;
  color: #fff;
  margin-top: 97px;
  margin-bottom: 20px;
}

.nami__h3 {
  font-size: 25px;
  line-height: 38px;
  color: #fff;
}

.nami__h4 {
  font-size: 25px;
  line-height: 38px;
  color: #fff;
  margin-bottom: 50px;
}

.nami__btn {
  width: 234px;
  height: 50px;
  color: #3434FF;
  margin: 0px 10px;
  font-size: 20px;
  line-height: 30px;
  border: none;
}

.nami__btn:hover {
  color: #fff;
  background: #024592;
}

.loga {
  width: 592.53px;
  height: 420.71px;
  margin-top: 57px;
  margin-left: 81px;
}

/*  */

.student {
  width: 991px;
  height: 639px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.student__h1 {
  width: 445px;
  height: 120px;
  font-size: 40px;
  line-height: 150%;
  color: #0B0B2C;
  margin-bottom: 15px;
  margin-left: 46px;
}

.student__h3 {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  margin-left: 46px;
}

.name {
  display: flex;
}

.asad {
  width: 360px;
  height: 230px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-left: 143px;
  margin-top: 40px;
}

.asad__img {
  margin-top: 30px;
  margin-left: 40px;
}

.name__text {
  width: 252.2px;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  margin-top: -20px;
  margin-left: 68px;
}

.name__h1 {
  font-size: 18px;
  line-height: 30px;
  color: #0B0B2C;
  margin-left: 68px;
}

.name__two {
  margin-bottom: 100px;
  margin-left: -100px;
  margin-top: -130px;
}

body {
  background: #E5E5E5;
}

.root {
  --pop: "Poppins";
}